<%# @food.each do |b| %>
    <%# if current_user.id == b.user_id %>
    <% if user_signed_in? && @cute_nil != nil %>
    <%# if @items.buylog != nil %> 
    <div class="like_button_on">
        <%= link_to image_tag("cute.png", class:"image_switch_on"), cutes_delete_path(page_id: @cute.id), {method: "post", remote: true} %>


        <%# カウント %>
        <%#= @like_count  %>

    </div>
    <% else %>
        <%# if user_signed_in? && @like == nil %>
            <div class="like_button">
                <%= link_to image_tag("cute.png", class:"image_switch_off"), cutes_create_path(page_id: @cute.id), {method: "post", remote: true} %>
                    <%# カウント %>
                    <%#= @like_count %>
            </div>
        <%# end %>
    <% end %>
<%# end %>