// 下線部削除
a {
  text-decoration: none;
}

header{
  // height:100px;
  width: 100%;
  // height: 100px;
  background: rosybrown;
  // text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);  
  // background-image: image-url('book_yoko_2');
 }

.main {
  background: #f8f8f8;  
}

// タイトル
.home-tile{
  display: flex;
  text-align:center;
  padding:20px;
  list-style: none;
  margin: auto;
  color: #f8f8f8;
  font-size: 20px;
}

// ジャンルの名前の位置（リスト）
.category{
  display: flex;
  text-align:center;
  // padding:20px;
  list-style: none;
  margin: auto;
  // justify-content: space-around;
}

// ジャンルの名前の位置
.category-name{
  border-style: solid;
  border-width:medium;
  padding:20px 20px;
  margin: 30px;
  border-color: midnightblue;
  color: midnightblue;
}


// ログインと新規登録の位置
.lists-right {
  display: flex;
  text-align:center;
  // padding:20px 20px;
  // padding:20px;
  list-style: none;
  // margin-left: auto;
}

.login{
  display: flex;
  text-align:center;
  padding:20px;
  list-style: none;
  margin: auto;
}

.sign-up{
  display: flex;
  text-align:center;
  padding:20px;
  list-style: none;
  margin: auto;
}

.search-bar-contents{
  display: flex;
}

.service-explain{
  text-align:center;
  color: #f8f8f8;
  
}

// ログイン状態のユーザに対する文章
.home-name{
  text-align: center;
}

.user-name{
  color: deeppink;
}

.center{
  display: flex;
  // height: 100vh;
  background-color: #253141;
  justify-content: space-around;
  // background-image: image-url('22226889.jpg');
}

.side-left{
  background-color: #2F3E51;
  // height: calc(100vh - 100px);
  width: calc(100vh - 60px);
  padding: 0 40px;
  // margin-top: 20px;
  // width: 60px;
  text-align: center;
  // background-image: image-url('room_hidari');
}

.side-right{
  background-color: #2F3E51;
  // height: calc(100vh - 100px);
  width: calc(100vh - 60px);
  padding: 0 40px;
  // width: 60px;
  text-align: center;
  // background-image: image-url('room_migi');
}

.books-floor{
  background-color:  #2F3E51;
  width: 1000px;
  padding: 0 60px;
  // display: flex;
  // background-image: image-url('22226889');
}

.book-border{
  padding: 20px 30px;
  background-color: saddlebrown;
}

.home-name{
  color: #f8f8f8;  
}




// 本棚の上の部分
.books-lists-top{
  width: 100%;
  height: 30px;
  background-color: #2F3E51;
}

// 本の隙間
.books-lists-gap{
  width: 100%;
  height: 25px;
  background-color: cornsilk;
}

// 本棚の本を置くところ
.books-lists{
  // width: 100%;
  // padding-left: 10px;
  // padding-right: 10px;
  height: 250px;
  background-color: cornsilk;
  display: flex;
}

// 本を乗せるところ
.books-lists-under{
  width: 100%;
  height: 30px;
  background-color: saddlebrown;
}

.books{
  width: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: lightcyan;
  border-style: solid;
  border-width:thick;
  background-image: image-url('book2');
  // text-align: end;
  // align-items: flex-end;
}
.book{
  // width:20px;
  // height: 100px;
  display: table-cell; /* IE8から使用可能 */
  // vertical-align: middle;
  // padding:0 20px 20px 0;
  // text-orientation:sideways;
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
  display: inline-block;/* 文字列ぶんのブロックにする */
  // background-color: red;
  // text-align:center;
  align-items: center;
}

.book-title{
  display: table-cell; /* IE8から使用可能 */
  // vertical-align: middle;
  // padding:0 20px 20px 0;
  // text-orientation:sideways;
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
  display: inline-block;/* 文字列ぶんのブロックにする */
  background-color: antiquewhite;
  // text-align:center;
  align-items: center;
}

.ad-footer-contents{
  height:100px;
  width: 100%;
  background-color: rosybrown;
  
  // text-align: justify;
 }