.new-back{
  // background-image: image-url('22020552.jpg');
  // height: 500px;
  // width: 500px;
}

.work-title{
  text-align: center;
}

.new-title-box{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}