// 評価アイコンや統計、タイトル表示
.top{
  background: lightgray;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.title-text{
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}


// 中央のレビュー投稿とレビュー表示画面
.review-center{
  margin-left: auto;
  margin-right: auto;
  // width: 8em;
  height: 600px;
  display: flex;
}
// .review-center{
//   display: flex;
//   // height: 100vh;
//   background-color: #253141;
//   justify-content: space-around;
// }

// 中央のレビュー投稿位置
.review-push{
  background-color: #2F3E51;
  // height: calc(100vh - 100px);
  width: calc(100vh - 60px);
  padding: 0 40px;
  // width: 60px;
  text-align: center;
}

// 中央のレビュー投稿位置内側
.review-push-in{
  margin: 10px;
  background-color: honeydew;
  // background-image: image-url('22243577.png');
  // background-size:contain;                 /* 画像のサイズを指定    */
  // width:100%;                              /* 横幅のサイズを指定    */
  // height: 200px;
}

.review-text-in{
  margin: 10px;
  background-color: honeydew;  
  // border-color: black;
}

.review-text-in-time{
  font-size: 5px;
}

.review-text-in-delete{
  margin: 10px;
  // background-color: deepskyblue;
  border-color: black;
}

.review-ii-in{
  margin: 10px;
  background-color: honeydew;
  display: flex;
}

// いいねアイコン①
.like_button{
  background-color: honeydew;
}

// いいねアイコン②
.like_button_on{
  // background-color: #FE2E2E;
  border-color: #FE2E2E;
}


.image_switch_on{
  background-color: #FE2E2E;
  padding: 2px;
  width: 70%;
  height: 70%;
}

.image_switch_off{
  padding: 2px;
  width: 70%;
  height: 70%;
}

// 中央のレビュー表示
.review-data{
  background-color: rebeccapurple;
  width: 1000px;
  padding: 0 60px;
  // display: flex;
}

// 中央のレビュー表示内側
.review-data-in{
  height: 500px;
  margin: 10px;
  background-color: lightsalmon;
  position: relative;
  // display: flex;
  // align-items: top;
  // justify-content: center;
}

.review-data-user{
  width:90%;
  height: 100px;
  margin: 30px;
  background-color: aqua;
  // position: absolute;
  ;
}

.comment{

  // padding: 10px;
  background-color: darkseagreen;
}

// .repl-text{
//   // text-align: end;
// }
// display: flex;
// text-align:center;
// padding:20px;
// list-style: none;
// margin: auto;

// .review-push{

// }

// .review-data{

// }