<%= render "shared/header" %>
<div class='main'>
  <div class='top'>
  </div>

  <div class='review-center'>
    <div class='review-push'></div>
    <div class='review-data'></div>
  </div>
</div>
<%= render "shared/footer" %>