<%# <meta name="viewport" content="width=1400, user-scalable=yes"> %>
<%# width:1250px;　 %>
<%= render "shared/header" %>
<div class='main'>
  <div class='center'>
    <div class='side'>
    左側
    </div>

    <div class='books-floor'>
      <p class='service-explain'>
        Revieworkにようこそ。
      </p>
      <p class='service-explain'>
        本サイトはアニメ、マンガ、ゲーム、映画に関するレビューサイトです。
      </p>
      <p class='service-explain'>
        ※コンテンツの無断複写、転載を禁止します。
      </p>
      <p class='service-explain'>
        アニメ
      </p>
      <div class= 'book-border'>本棚の枠
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>感</li>
            <li class='book'>あああああああ</li>

          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
        </div>
        <div class='books-lists-under'>本置くところ</div>
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>あああああああ</li>
          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>

        </div>
        <div class='books-lists-under'>本置くところ</div>
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>あああああああ</li>
          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>

        </div>
        <div class='books-lists-under'>本置くところ</div>
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>あああああああ</li>
          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>

        </div>
        <div class='books-lists-under'>本置くところ</div>
        <div class='books-lists-gap'>本棚の隙間</div>
        <div class='books-lists'>
          <div class='books'>
            <li class='book'>あああああああああファっっファファファ</li>
          </div>
          <div class='books'>
            <li class='book'>いいいいいいい</li>
          </div>
          <div class='books'>
            <li class='book'>うう</li>
          </div>
          <div class='books'>
            <li class='book'>えええええええ</li>
          </div>
        </div>
      </div>
    </div>
    <div class='side'>
    右側
    </div>
  </div>
</div>
<%= render "shared/footer" %>